12) Write a for loop to print numbers from 1 to 100.

In [1]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

13) Write a Python program to find the sum of all even numbers between 1 and 50.

In [9]:
even_sum = 0

for num in range(1, 51):
    if num % 2 == 0:
        even_sum += num

print(f"The sum of all even numbers between 1 and 50 is: {even_sum}")

The sum of all even numbers between 1 and 50 is: 650

14) Write a program to reverse a string using a while loop.

In [11]:
def reverse_string(s):

    reversed_str = ""

    index = len(s) - 1

    while index >= 0:
        reversed_str += s[index]
        index -= 1

    return reversed_str

input_string = input("Enter a string to reverse: ")
reversed_string = reverse_string(input_string)
print(f"Reversed string: {reversed_string}")

Enter a string to reverse: vijay
Reversed string: yajiv

15) Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [13]:
def factorial(n):
    result = 1

    if n < 0:
        return "Factorial is not defined for negative numbers."

    while n > 1:
        result *= n
        n -= 1

    return result

try:
    num = int(input("Enter a number to calculate its factorial: "))
    print(f"The factorial of {num} is: {factorial(num)}")
except ValueError:
    print("Please enter a valid integer.")

Enter a number to calculate its factorial: 120
The factorial of 120 is: 6689502913449127057588118054090372586752746333138029810295671352301633557244962989366874165271984981308157637893214090552534408589408121859898481114389650005964960521256960000000000000000000000000000